.add-address{
	background-color:$background-color;
	font-size:14px;
	height:100%;
	.address-form{
		padding:0 0.32rem;
		background-color: $white;
		.form-item{
			border-bottom: 1px solid $lighter-border-color;
			padding:0.32rem 0;
			overflow: hidden;
			label{
				width:1.92rem;
				float:left;
				display: block;
				line-height: 18px;
				font-size: 14px;
			}
			.edit-area{
				width:7.4rem;
				float: right;

				input{
					border:none;
					width:100%;
					vertical-align: text-top;
					line-height: 18px;
				}
				.name-par{

				}
				.has-bottom{
					padding-bottom:0.4rem;
					border-bottom: 1px solid $lighter-border-color;
				}
				.has-top{
					padding-top:0.32rem;
				}			
				.sel-sex{
					margin-top: 0.226667rem;
					overflow: hidden;
					.st-radio{
						
						overflow: hidden;
					}
				}
				.tag{
					font-size: 12px;
					padding:0.04rem;
					width:1.066667rem;
					display: inline-block;
					border:1px solid $more-lighter-font-color;
					text-align: center;
					color:$more-lighter-font-color;
					margin-right: 0.3rem;
				}
				.active{
					color:$primary-color;
					border:1px solid $primary-color;
				}
				.sel-location{
					position:relative;
					input{
						padding-left:0.56rem;
						padding-right:0.56rem;
					}
					i:first-child{
						position:absolute;
						font-size:18px;
						line-height: 18px;
						top:-1px;
						left:0px;
						color:$primary-color;						
					}
					i:last-child{
						position:absolute;
						top:1px;
						right:0;
						color:$lighter-font-color;
					}
				}
			}			
		}
	}
	.confirm{
		width:95% !important;
		margin:0.8rem auto 0;
		display: block;
	}
	.disabled{
		background-color:$disable-button-color;
	}
}