.for-input{
	width:70% !important;
	float:right;
}
.attr-group{
	text-align:right;
	display:inline-block;
	width:70%;
	float:right;
	.icon-more{
		float:right;
		font-size:20px;
		margin-top: 2px;
		margin-right: -6px;
	}
	input{
		width:100%;
		border:none;
		background-color: transparent;
		text-align: right;
	}
	.more{
		overflow: auto;
		height:5.3rem;
	}
	.time-modal{
		width:100%;
		.actions{
			border-top:1px solid #f2f2f2;
			padding: 0.16rem 0.28rem;
			overflow: hidden;
			button{
				width:48%;
				padding:0.28rem;
			}
			.cancel{
				background-color: $white;
				border:1px solid $lighter-font-color;
				color:$lighter-font-color;
				margin-right: 4%;
			}
			.confirm{
				background-color: $primary-color;
				border:1px solid $primary-color;
				color:$white;
			}
		}
	}
	.options-modal{
		width:100%;
		header{
			padding:0 0.32rem;
			border-bottom:1px solid $lighter-border-color;
		}
		li{
			text-align:center;
			border-bottom:1px solid $lighter-border-color;
		}
		li:last-child{
			border:none;
		}
		button{
			width:100%;
			padding:0.28rem;	
			background-color: $primary-color;
			border:1px solid $primary-color;
			color:$white;		
		}
	}
	.right-modal{
		width:100%;
		height:100%;
		.right-info{	
			width:100%;
			height:100%;
			position: relative;
			
			.p-li{
				li{
					height:1.173333rem;
					line-height:1.173333rem;
					overflow: hidden;
					border-bottom: 1px solid #eaeaea;	
					padding:0 0.28rem;		
					label{
						float:left;
					}
				}
			}
		}
		.confirm{
			width:100%;
			padding:0.28rem;	
			background-color: $primary-color;
			border:1px solid $primary-color;
			color:$white;
			position:absolute;
			bottom:0;
			left:0;
		}
		header{
			text-align: left;
		}
	}
	.disabled{
		background-color:$disable-button-color !important;
		border:1px solid $disable-button-color !important;
	}
}