.categories{
	width:100%;
	height:100%;
	.second-list{
		width:26.8%;
		border-right:1px solid $lighter-border-color;
		height: 100%;
		overflow-y:auto;
		// padding:0.32rem 0;
		li{
			width:100%;
			padding:0.3rem 0;
			text-align: center;
			font-size: 12px;
			border-bottom:1px solid $lighter-border-color;
			cursor:pointer;
			p{
				height:0.706667rem;
				line-height: 0.706667rem;
			}
		}
		.active{
			color:#ff5858;
			position:relative;
			font-size: 14px;
		}
		.active:before{
			content:'';
			position:absolute;
			width:0.1rem;
			height:100%;
			left:0;
			top:0;
			background-color: $primary-color;
		}
	}
	.good-list{
		width: 73.2%;
		height:100%;
		overflow: auto;
		background-color:$app-background;
		-webkit-overflow-scrolling: touch;

		.all{
			width:105px;
			height:1.346667rem;
			line-height: 0.706667rem;
			padding:0.32rem 0;
			margin:0 auto;
			overflow: hidden;
			p{
				width:65px;
				text-align: center;
			}
			hr{
				width:20px;
				height: 0;
				border:none;
				border-top:1px solid $lighter-border-color;
				margin-top: 0.3533335rem;
			}
		}
		li{
			width:33.33%;
			padding:0.32rem;
			float:left;
			text-align: center;
			img{
				width:100%;
			}
			p{
				margin-top: 0.2rem;
			}
		}
	}
	.load-tip{
		height: 40px;
		line-height: 40px;
		text-align: center;

		.loading{
			display: inline-block;
    		vertical-align: middle;
    		margin-right:15px;
		}
	}
}