@charset "utf-8";

.nopermission{
    width: 100%;
    height: auto;
}

.nopermission .nopermission-wrap{
    width: 100%;
    background-color: #F3F3F3;
    height: auto;
    padding-top: 0.1px;
    padding-bottom: 0.4rem;
}

.nopermission .sign{
    width: 100%;
    margin-top: 1.33333rem;
}

.nopermission .successImg{
    width: 1.92rem;
    height: 1.92rem;
    margin: 0 auto;
}

.nopermission .successImg img{
    width: 100%;
    height: 1.92rem;
}

.nopermission .sign-p2{
    width: 55%;
    text-align: center;
    margin: 0 auto;
    font-size: 0.45333rem;
    color: #000;
    font-weight: bold;
    margin-top: 1.06666rem;
}

.nopermission .propertyRight{
    width: 100%;
    margin-top: 9rem;
}

.nopermission .propertyRight-p1{
    width: 100%;
    text-align: center;
    font-size: 0.37333rem;
    color: #959595;
    margin-bottom: 0.26666rem;
}

.nopermission .propertyRight-p2{
    width: 100%;
    text-align: center;
    font-size: 0.32rem;
    color: #959595;
}