.st-dialog{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:9997;
	.st-mask{
		width:100%;
		height:100%;
		background-color: #000;
		opacity:0.2;
		z-index:9998;
	}
	.dialog-body{
		width:80%;
		background-color:#fff;
		position:absolute;
		left:50%;
		top:45%;
		transform: translate(-50%,-50%);
		padding:20px;
		.header{
			h1{
				font-size:16px;
				font-weight: 600;
			}

		}
		.content{
			padding:15px 0 ;
			font-size: 14px;

			li{
				padding:0.2rem 0 ;
				color:#757575;
			}
		}
		.footer{
			button{
				border:none;
				background-color:#fff;
				color:#ff5858;
				float:right;
				padding:5px 10px;
				margin-left:10px;
			}
		}
	}
}