.user-info{
	width:100%;
	height:100%;
	background-color: $app-background;
	font-size:14px;
	.content{
		padding:0 0.4rem 0;
		width:100%;
		background-color: #fff;
		overflow: hidden;

		.head{
			height: 2.2rem;
			line-height: 2.2rem;
			width:100%;
			border-bottom:1px solid $lighter-border-color;
			background-color:#fff;
			overflow: hidden;
			position: relative;
			img{
				width:1.4rem;
				height: 1.4rem;
				border-radius:50%;
				margin:0.4rem 0.4rem 0.4rem 0;
				background-color: #f0f0f0;
			}
			.input-head{
				width:100%;
				height: 100%;
				position:absolute;
				top:0;
				left:0;
				opacity: 0;
			}			
		}
		.item{
			height:1.4rem;
			line-height: 1.4rem;
			overflow:hidden;
			border-bottom:1px solid $lighter-border-color;
			.text-hide{
				max-width:6rem;
				display:inline-block;
				overflow:hidden;
			}
		}
	}
	.phone{
		height: 1.4rem;
		line-height: 1.4rem;
		width:100%;
		background-color:#fff;
		margin-top: 0.32rem;
		padding:0 0.4rem;

		div{
			color:#959595;
		}
	}
	.select-modal{
		width:100%;

		li{
			height:1.2rem;
			line-height: 1.2rem;
			text-align:center;
			border-bottom:1px solid $lighter-border-color;
			font-size: 14px;
		}
		button{
			height: 1.2rem;
			line-height: 1.2rem;
			width:100%;
			border:none;
			background-color:$primary-color;
			color:#fff;
			font-size: 14px;
		}
	}
	.input-modal{
		width:80%;
		.box-header{
			height:48px;
			line-height: 48px;
			padding:0 0.32rem;
			text-align: center;
			font-size: 16px;
		}
		.box-content{
			padding:0.5rem;
			font-size: 14px;
			span{
				width:100%;
				font-size:11px;			
			}
			p{
				line-height: 24px;
				margin-bottom:0.32rem;
				overflow: hidden;
			}
			input{
				height:0.72rem;
				line-height: 0.72rem;
				font-size: 14px;
				width:100%;
				float:right;
			}
		}
		.box-footer{
			width:100%;
			height:1.2rem;
			border-top:1px solid $lighter-border-color;

			button{
				width:50%;
				float:left;
				text-align: center;
				font-size:14px;
				background-color:$primary-color;
				color:#fff;
				border:none;
				height:100%;				
			}
			button:first-child{
				background-color:#fff;
				color:#333;
			}
			.dis{
				background-color:#959595;
			}
		}	
	}
}